<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>information</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <body>


        <div class="container">
            <h4>Grids</h4>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div class="col s6">
                            content
                        </div>
                    </ion-col>

                </ion-row>
            </ion-grid>
            <!-- <div class="grid">
                <div class="row">
                    <div class="col s3">content</div>
                    <div class="col s3">content</div>
                    <div class="col s3">content</div>
                    <div class="col s3">content</div>
                </div>
                <div class="row">
                    <div class="col s6 m3">content</div>
                    <div class="col s6 m3">content</div>
                    <div class="col s6 m3">content</div>
                    <div class="col s6 m3">content</div>
                </div>
                <div class="row">
                    <div class="col s12 m6 x12">content</div>
                    <div class="col s12 m6 x12">content</div>
                    <div class="col s12 m6 x12">content</div>
                    <div class="col s12 m6 x12">content</div>
                </div>
            </div> -->

        </div>



    </body>


</ion-content>