// ion-title {
//     background-color: rgb(99, 57, 75);
//     color: white;
// }
// ion-menu-button {
//     color: white;
// }
ion-toolbar {
    background-color: rgb(99, 57, 75);
    color: white;
    color: white;
}

.row {
    padding: 10px;
    background: #45beee;
    border: 1px solid #45beee;
    // line-height: 60px;
}

.row {
    margin: 40px auto;
}