// ion-title {
//     background-color: rgb(99, 57, 75);
//     color: white;
// }
// ion-menu-toggle {
//     background-color: rgb(99, 57, 75);
// }
ion-button {
    --background: rgb(99, 57, 75);
    width: 60px;
}

ion-toolbar {
    background-color: rgb(99, 57, 75);
    color: white;
    color: white;
}