<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <body>

        <br>
        <br>
        <h1>
            BE HEALTHY
        </h1>
        <h1>
            MAKE FRIENDS
        </h1>
        <h1>
            HAVE FUN
        </h1>
        <br>
        <br>
        <div class="cet">

        </div>
        <ion-card>

            <ion-card-content>

                <h2>Running 1</h2>
            </ion-card-content>
        </ion-card>

        <ion-card>

            <ion-card-content>
                <h2>Running 2</h2>

            </ion-card-content>
        </ion-card>

        <ion-card>

            <ion-card-content>
                <h3>Running 3</h3>

            </ion-card-content>
        </ion-card>




    </body>
</ion-content>